<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="customJs">
  <script th:inline="javascript">
  </script>
</th:block>

<th:block layout:fragment="customContent">
  <div class="container-fluid content">
    <h2 class="d-flex align-items-center">
      <img alt="아이콘" class="mr-2" th:src="@{/build/img/users.svg}"/>
    </h2>
    <div class="filter_wrap mt-3">
      <form class="form-inline" method="get" th:action="@{/admin/members}">
        <div class="form-group mr-3">
          <img alt="아이콘" class="mr-1" th:src="@{/build/img/location.svg}"/>
          <label class="mr-1" for="company">회사명</label>
          <input class="form-control" id="company" name="company" type="text"/>
        </div>
        <div class="form-group mr-3">
          <img alt="아이콘" class="mr-1" th:src="@{/build/img/user_01.svg}"/>
          <label class="mr-1" for="name">담당자</label>
          <input class="form-control" id="name" name="name" type="text"/>
        </div>
        <div class="form-group mr-3">
          <img alt="아이콘" class="mr-1" th:src="@{/build/img/timer.svg}"/>
          <label class="mr-1" for="status">현재상태</label>
          <select class="form-control" id="status" name="status">
            <option value="">-- 선택 --</option>
            <option value=1>Y</option>
            <option value=0>N</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">
          <img alt="검색" th:src="@{/build/img/search_white.svg}"/> Search
        </button>
        <input name="_csrf" type="hidden" value="${_csrf.token}"/>
      </form>
    </div>
    <div class="table-responsive mt-3">
      <div class="d-flex justify-content-between mb-2">
        <h3 th:text="Total + ' ' + ${totalCount}">Total 210</h3>
        <button class="btn btn-primary" type="button">
          <img alt="아이콘" class="mr-1" th:src="@{/build/img/pencil.svg}"/>
          <span>등록</span>
        </button>
      </div>
      <table class="table">

        <thead>
        <tr>
          <th>
            <span>No</span>
          </th>
          <th>
            <img alf="아이콘" th:src="@{/build/img/table_location.svg}"/>
            <span>회사명</span>
          </th>
          <th>
            <img alf="아이콘" th:src="@{/build/img/table_user.svg}"/>
            <span>담당자명</span>
          </th>
          <th>
            <span>국가</span>
          </th>
          <th>
            <img alf="아이콘" th:src="@{/build/img/table_phone.svg}"/>
            <span>전화번호</span>
          </th>
          <th>
            <span>권한</span>
          </th>
          <th>
            <span>공급자수</span>
          </th>
          <th>
            <span>등록일</span>
          </th>
          <th>
            <span>현재상태</span>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="member, iterStat : ${memberList}">
          <td class="hidden-col" data-key="id">
            <div>
              <span th:text="${member.id}">id</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${totalCount - (currentPage - 1) * 10 - iterStat.index}">desc</span>
            </div>
          </td>
          <td>
            <div>
              <span class="updateModal" style="color: red; cursor:pointer" th:data-id="${member.id}"
                    th:text="${member.company}">국제상사</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.name}">김기업</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.country}">국가</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.mobile}">010-1234-5678</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.levelMsg}">기업담당자</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.cnt}">10</span>
            </div>
          </td>
          <td>
            <div>
              <span th:text="${member.formattedRDate}">2021-01-01</span>
            </div>
          </td>
          <td>
            <div>
              <span th:class="${member.statusMsg == 'Y'} ? 'status yes' : 'status no'"
                    th:text="${member.statusMsg}"></span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">

          <a class="page_start" href="#" th:href="@{/admin/members(page=1)}">
            <span>1</span>
            <img alt="처음" th:src="@{/build/img/page_start.svg}"/>
          </a>

          <!-- Display link to previous page -->
          <a class="page_prev" href="#"
             th:href="@{/admin/members(page=${currentPage > 1 ? currentPage - 1 : 1})}">
            <img alt="이전" th:src="@{/build/img/page_prev.svg}"/>
          </a>

          <!-- Display links to individual pages -->
          <th:block th:each="i : ${#numbers.sequence(startPage, endPage)}">
            <a href="#"
               th:class="${i == currentPage ? 'active bold' : ''}"
               th:href="@{/admin/members(page=${i}, company=${searchParameters.company}, name=${searchParameters.name}, tel=${searchParameters.mobile}, status=${searchParameters.status})}">
              <span th:text="${i}"></span>
            </a>
          </th:block>

          <!-- Display link to next page -->
          <a class="page_next"
             href="#"
             th:href="@{/admin/members(page=${currentPage < totalPages ? currentPage + 1 : totalPages})}">
            <img alt="다음" th:src="@{/build/img/page_next.svg}"/>
          </a>

          <!-- Display link to last page -->
          <a class="page_end" href="#" th:href="@{/admin/members(page=${totalPages})}">
            <img alt="끝" th:src="@{/build/img/page_end.svg}"/>
            <span th:text="${totalPages}"></span>
          </a>

        </ul>
      </nav>

    </div>
  </div>

</th:block>
</html>