<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="customJs">
  <script th:inline="javascript">

  </script>
</th:block>

<th:block layout:fragment="customContent">

  <div class="container mt-5">
    <div class="row">
      <!-- New Document Upload Section -->
      <div class="col-lg-4 mt-4">
        <div class="d-flex align-items-center mb-3">
          <img src="/images/icons8-국수-40.png" alt="아이콘" class="mr-3">
          <h2>맛집 공유</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item" th:each="dul : ${documentUploadList}" th:if="${dul.type == 2}">
            <a href="#">
              <span th:text="${dul.msg}"></span>
              <small class="float-right" th:text="${dul.formattedRDate}"></small>
            </a>
          </li>
        </ul>
      </div>

      <!-- Document Modify Upload Section -->
      <div class="col-lg-4 mt-4">
        <div class="d-flex align-items-center mb-3">
          <img src="/images/icons8-시즌-세일-48.png" alt="아이콘" class="mr-3">
          <h2>특가 공유</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item" th:each="dml : ${documentModifyList}" th:if="${dml.type == 3}">
            <a href="#">
              <span th:text="${dml.msg}">[한일] 파이온 모기살충제</span>
              <small class="float-right" th:text="${dml.formattedRDate}"></small>
            </a>
          </li>
        </ul>
      </div>

      <!-- Request Email List Section -->
      <div class="col-lg-4 mt-4">
        <div class="d-flex align-items-center mb-3">
          <img src="/images/icons8-꿀-40.png" alt="아이콘" class="mr-3">
          <h2>우리동네 꿀팁</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item" th:each="rel : ${requestEmailList}" th:if="${rel.type == 1}">
            <a href="#">
              <span th:text="${rel.msg}"></span>
              <small class="float-right" th:text="${rel.formattedRDate}"></small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</th:block>
</html>