<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project92.admin.mapper.AdminDashBoardMapper">
    <select id="selectAdminDashBoardList" parameterType="map" resultType="Notice">
        select
            ADMIN_ID,
            MANAGER_ID,
            ID,
            TYPE,
            MSG,
            SUBSTR(RDATE,1,10) as rdate
        from NOTICES
            where ADMIN_ID = #{adminId}
            AND TYPE = #{type}
            AND RDATE >= (CURDATE() - INTERVAL 5 DAY)
        ORDER BY RDATE DESC
    </select>
</mapper>