<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="right_col" role="main" layout:fragment="customContent">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="x_panel">

                    <div class="x_content">
                        <form class="" th:action="@{/member/signUp}" method="post" novalidate>

                            <span class="section">회원가입</span>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">ID<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="6" data-validate-words="2"
                                           name="login_id" required="required"/>
                                </div>
                            </div>
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">Password<span
                                        class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" type="password" id="password1" name="password"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}"
                                           title="Minimum 8 Characters Including An Upper And Lower Case Letter, A Number And A Unique Character"
                                           required/>

                                    <span style="position: absolute;right:15px;top:7px;" onclick="hideshow()">
													<i id="slash" class="fa fa-eye-slash"></i>
													<i id="eye" class="fa fa-eye"></i>
												</span>
                                </div>
                            </div>
<!--                            <div class="field item form-group">-->
<!--                                <label class="col-form-label col-md-3 col-sm-3  label-align">Repeat password<span-->
<!--                                        class="required">*</span></label>-->
<!--                                <div class="col-md-6 col-sm-6">-->
<!--                                    <input class="form-control" type="password" name="password2"-->
<!--                                           data-validate-linked='password' required='required'/></div>-->
<!--                            </div>-->
                            <div class="field item form-group">
                                <label class="col-form-label col-md-3 col-sm-3  label-align">name<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6">
                                    <input class="form-control" data-validate-length-range="6" data-validate-words="2"
                                           name="name" required="required"/>
                                </div>
                            </div>
                            <div class="ln_solid">
                                <div class="form-group">
                                    <div class="col-md-6 offset-md-3">
                                        <button type='submit' class="btn btn-primary">Submit</button>
                                        <button type='reset' class="btn btn-success">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>