<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="main_menu_side hidden-print main_menu" id="sidebar-menu" th:fragment="sidebarFragment">

  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a href="#" th:href="@{/info}"><img src="/images/icons8-마을-48.png" alt="아이콘"> &nbsp 동네생활</a></li>
    </ul>

    <ul class="nav side-menu">
      <li><a href="#" th:href="@{/foodie}"><img src="/images/icons8-음식-48.png" alt="아이콘"> &nbsp 맛집공유</a></li>
    </ul>

    <ul class="nav side-menu">
      <li><a href="#" th:href="@{/admin/members}"><img src="/images/icons8-설정-48.png" alt="아이콘"> &nbsp 회원관리</a></li>
    </ul>
  </div>


</div>
</html>