<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div id="topNavi" class="top_nav" th:fragment="topNaviFragment">

	<!-- If user is logged in  -->
	<div sec:authorize="isAuthenticated()" class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle" class="menu-toggle"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class="navbar-right">
				<li class="nav-item dropdown open" style="padding-left: 15px;">
					<a href="javascript:" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
						<img th:src="@{/images/user.png}" alt="">
						<span></span>
					</a>
					<div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/templates/auth/deleteUser}"> 회원탈퇴</a>
						<a class="dropdown-item" th:href="@{/templates/auth/updateUser}"> 회원정보수정</a>
						<a class="dropdown-item" th:href="@{/logout}">
							<i class="fa fa-sign-out pull-right"></i>
							로그아웃
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<!-- If user is not logged in -->
	<div sec:authorize="!isAuthenticated()" class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle" class="menu-toggle"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav">
			<ul class="navbar-right">
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/templates/auth/login}" class="nav-link">로그인</a>
				</li>
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/templates/auth/register}" class="nav-link">회원가입</a>
				</li>
				<li class="nav-item" style="padding-left: 15px;">
					<a th:href="@{/templates/auth/findPassword}" class="nav-link">비밀번호 찾기</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

</html>

