<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head></head>

<th:block layout:fragment="customJs">
  <script th:inline="javascript">
      /*<![CDATA[*/
      let error = /*[[${error}]]*/ false;
      /*]]>*/

      $(document).ready(function() {
          if (error) {
              Swal.fire({
                  icon: 'error',
                  title: 'Fail!',
                  text: '로그인에 실패했습니다.'
              });
          }
      });

  </script>

</th:block>

<th:block layout:fragment="customContent">
  <div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
      <div class="animate form login_form">
        <section class="login_content">
          <form th:action="@{/users/login}" method="post">
            <div id="error-alert" class="alert alert-danger" style="display: none;">
              <p></p>
            </div>
            <h1>로그인</h1>
            <div>
              <input type="text" class="form-control" placeholder="아이디" required="" name="username" value="user1"/>
            </div>
            <div>
              <input type="password" class="form-control" placeholder="비밀번호" required="" name="password" value="user123"/>
            </div>
            <div>
              <button type="submit" class="btn btn-primary w-100">로그인</button>
            </div>
            <div class="mt-2">
              <a class="btn btn-primary w-100" th:href="@{/users/findPassword}">비밀번호 찾기</a>
            </div>


            <div class="clearfix"></div>

            <div class="separator">
              <p class="change_link">처음 방문이십니까?
                <a class="to_register" th:href="@{/users/register}"> 회원가입 </a>
              </p>

              <div class="clearfix"></div>
              <br/>

              <div>
                <h1><i class="fa fa-leaf"></i> project92</h1>
                <p>©2023 project92 Management</p>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</th:block>

</html>
