<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head></head>

<th:block layout:fragment="customJs">
  <script>
      $(document).ready(function () {

          $("#delete-form").on("submit", function (event) {
              event.preventDefault();

              const password = $("#password").val();
              const password_confirm = $("#password_confirm").val();

              if (password !== password_confirm) {
                  Swal.fire({
                      icon: 'error',
                      title: 'Oops...',
                      text: '비밀번호를 다시 입력해주세요',
                  });
              } else {
                  Swal.fire({
                      title: '정말 삭제하시겠습니까?',
                      text: "삭제후 복구할수 없습니다",
                      icon: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: '삭제',
                      cancelButtonText: '취소'
                  }).then((result) => {
                      if (result.isConfirmed) {
                          $.ajax({
                              url: '/users/deleteUser',
                              type: 'POST',
                              data: JSON.stringify({
                                  username: $('#username').val(),
                                  password: $('#password').val(),
                              }),
                              contentType: 'application/json; charset=utf-8',
                              dataType: 'json',
                              async: false,
                              success: function (msg) {
                                  if (msg.status === 'SUCCESS') {
                                      Swal.fire({
                                          icon: 'success',
                                          title: 'Deleted!',
                                          text: '회원 정보가 삭제되었습니다.'
                                      }).then(() => {
                                          window.location.href = "/";
                                      });
                                  } else {
                                      Swal.fire({
                                          icon: 'error',
                                          title: 'Oops...',
                                          text: msg.message
                                      });
                                  }
                              }
                          });
                      }
                  })
              }
          });

          // 중복 비밀번호 입력 필드 키 입력 이벤트에 대한 이벤트 리스너 추가
          $("#password_confirm").on("keyup", function () {
              const password = $("#password").val();
              const password_confirm = $("#password_confirm").val();

              if (password !== password_confirm) {
                  $("#password_match_message").text("비밀번호가 일치하지 않습니다.")
                      .css("color", "red");
              } else {
                  $("#password_match_message").text("비밀번호가 일치합니다.")
                      .css("color", "green");
              }
          });
      });

  </script>
</th:block>

<th:block layout:fragment="customContent">
  <h2>회원 탈퇴</h2>
  <div class="container">
    <form class="form-horizontal form-label-left" data-parsley-validate id="delete-form" method="post"
          th:object="${user}">
      <input th:field="*{username}" type="hidden"/>

      <div class="form-group">
        <label for="password">비밀번호</label>
        <input class="form-control" id="password" name="password" type="password">
      </div>

      <div class="form-group">
        <label for="password_confirm">비밀번호 확인</label>
        <input class="form-control" id="password_confirm" name="password_confirm" type="password">
        <span class="help-block" id="password_match_message"></span>
      </div>

      <button class="btn btn-danger" type="submit">탈퇴</button>
      <button class="btn btn-secondary" type="reset">취소</button>
    </form>
  </div>

</th:block>
</html>
