<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<head>
	
	</head>
	<th:block layout:fragment="customContent">
		<div class="page-title">
			<div class="title_center">

				<main>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-8 offset-md-2">

								<p class="text-center">
									<a href="/intro" class="btn btn-primary btn-lg">소개</a>
								</p>
							</div>
						</div>
					</div>
				</main>

			</div>
		</div>
	</th:block>
</html>